.App {
  text-align: center;
}

body {
  background-image: url(./img/background.jpg);
}

h1 {
  background-color: #36B3FC;
}

form {
  display:flex;
  justify-content: space-around;
  border: 2px solid grey;
  border-radius: 10px;
  background-color: white;
  padding: 20px;
}

button {
  background-color: #36B3FC;
  border-radius: 10px;
}

input {
  border-radius: 5px;
    margin: 10px;
}

label {
  margin: 10px;
}

.field {
  display: flex;
  flex-direction: column;
}

.village {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.smurfcard {
  background-color: #36B3FC;
  color: white;
  border: 1px solid grey;
  border-radius: 10px;
  margin: 10px;
  width: 30%;
}